<h1>Log in</h1>
<%= form_tag sessions_path do %>
  <table class: "table">
    <tbody>
      <tr>
        <th>
          <%= label_tag :name, 'login name' %>
        </th>
        <td>
          <%= text_field_tag :name, params[:name] %>
        </td>
      </tr>
      <tr>
        <th>
          <%= label_tag :password, 'password' %>
        </th>
        <td>
          <%= password_field_tag :password , params[:password]%>
        </td>
      </tr>
      <tr>
        <th>
          <%= submit_tag "login", class: "btn btn-inverse" %>
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
