<table>
  <tr>
    <td>
      <%= @comments.from %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @comments.created_at %>
    </td>
  </tr>
  <tr>
    <td>
      <%= @comments.body %>
    </td>
  </tr>
  <tr>
  </tr>
</table>

<%= form_for @comment, :url => 'reply', :method => :post do |f| %>
  <div class="field">
    <%= f.label :comment %>
    <%= f.text_area :body, :size => "60x6" %>
  </div>
  <div class="hidden">
    <%= f.hidden_field :parent_id, :value => @comments.id %>
    <%= f.hidden_field :info_id, :value => @comments.info_id %>
    <%= f.hidden_field :from, value: current_user.name %>
  </div>
  <div class="actions">
    <%= f.submit "reply" %>
  </div>
<% end %>
