<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> 
        prohibited this user from being saved:</h2>
      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <table class: "table">
    <tbody>
      <tr>
        <th>
          <%= f.label :name %>
        </th>
        <td>
          <%= f.text_field :name, size: 40 %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :password, 'password' %>
        </th>
        <td>
          <%= f.password_field :password, size: 40 %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :password_confirmation, 'password check' %>
        </th>
        <td>
          <%= f.password_field :password_confirmation, size: 40 %>
        </td>
      </tr> 
      <tr>
        <th>
          <%= f.submit class: "btn btn-inverse" %>
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
