<%= form_for(@info) do |f| %>
  <% if @info.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@info.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @info.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <tbody>
      <tr>
        <th>
          <%= f.label :title %>
        </th>
        <td>
          <%= f.text_field :title %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :url %>
        </th>
        <td>
          <%= f.text_field :url %>
        </td>
      <tr>
        <th>
          <%= f.label :text %>
        </th>
        <td>
          <%= f.text_area :text, rows: 6 %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.label :user %>
        </th>
        <td>
          <%= f.text_field :user %>
        </td>
      </tr>
      <tr>
        <th>
          <%= f.submit class: "btn btn-inverse"%>
        </th>
        <td>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
