<%= form_for @comment, :url => 'create_comment', :method => :post do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div>
    <%= f.hidden_field :parent_id, :value => @info.id %>
  </div>
  <div class="actions" %>
    <%= f.submit %>
  </div>
<% end %>
 <% @info.comments.each do |comment| %>
   <div>
     <p><%= comment.from %>さん:</p><br />
     <p><%= comment.body %><p><br />
   </div>
<% end %>
