<%= form_for(@comments) do |f| %>
  <% if @comments.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comments.errors.count, "error") %> prohibited this info from being saved:</h2>

      <ul>
      <% @comments.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :from %><br />
    <%= f.text_field :from %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_field :body %>
  </div>
  <div class="actions" %>
    <%= f.submit %>
  </div>
<% end %>
