<h1>infos list</h1>
<%= link_to 'create new info', new_info_path %>

</br>

<% @infos.each do |info| %>
  <tr>
    <td><%= info.id %></td>
    <td><%= link_to info.title, info.url %></td>
      <span>(<%= info.url %>)</span>
    <td><%= link_to 'show', info %></td>
  </tr>
  </br>
<% end %>

