<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @info.title %>
</p>

<p>
  <b>Url:</b>
  <%= @info.url %>
</p>

<p>
  <b>Text:</b>
  <%= @info.text %>
</p>

<p>
  <b>User:</b>
  <%= @info.user %>
</p>


<%= link_to 'Edit', edit_info_path(@info) %> |
<%= link_to 'Back', infos_path %>
