<%= link_to "Lrnews", root_path, :class => 'brand' %>
<ul class="nav">
  <li>
  <%= link_to 'create', "infos/new" %>
  </li>
  <% if current_user %>
    <li>
    <%= link_to 'Logout', "/sessions/#{current_user.id}",
      :confirm => 'are you sure?', :method => :delete %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Login', "/sessions" %>
    </li>
  <% end %>
  <% if current_user %>
    <li>
    <%= link_to 'Edit account', "/users/#{current_user.id}/edit" %>
    </li>
  <% else %>
    <li>
    <%= link_to 'Sign up', "/users/new"  %>
    </li>
  <% end %>
</ul>
